* {
    box-sizing: border-box;
    background-color: rgb(59, 59, 59);
}

h1{
    text-align: center;
    color:rgb(177, 177, 177);
}


.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    margin: 100px;
}
  
.flex-item-left {
    background-color: #8f8f8f;
    padding: 10px;
    flex: 50%;
}
  
.flex-item-right {
    background-color: #8f8f8f;
    padding: 10px;
    flex: 50%;
}

#descr{
    margin: 100px;
    text-align: center;
    font-size: 20px;
    color: rgb(177, 177, 177);
}
  
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}